aiofiles==23.1.0
coloredlogs==15.0.1
httptools==0.5.0
humanfriendly==10.0
multidict==5.2.0
packaging==23.0
prompt-toolkit==3.0.28
pyreadline==2.1
rasa-sdk==3.4.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sanic==21.12.2
Sanic-Cors==2.2.0
sanic-routing==0.7.2
typing_extensions==4.5.0
wcwidth==0.2.6
websockets==10.4
wincertstore==0.2
